<!DOCTYPE html>
<html>
<head>
    <title>Adoptions</title>
</head>
<body>
    <h1>Pet Adoptions</h1>
    <p> Pet Type: <%= data.pet_type %></p>
    <p> Quantity: <%= data.quantity %></p>
    <p> Color: <%= data.color %></p>
    <a href="adoptions">Table of adoptions</a>
</body>
</html>
